# Q1

1. What are escape characters, and how do you use them?

ANSWER--In python, to insert any special character in between a string, which is not permissible, a backslash "\" followed that character we want to insert, is used. This baskslash "\" is called as the escape character in python. Actually if a backslash is used before a special character, its becomes an ordinary one and can be inserted in between a string, without giving any error.This is the use of an escape character in python.
Some escape characters used in python are-- Say--\' , "\t" is a tab, "\n" is a newline, and "\r" is a carriage return, etc.
Example is shown below :

In [1]:
s="His name is raju.raju"s father is a teacher."

SyntaxError: invalid syntax (<ipython-input-1-3e0eafdf1518>, line 1)

The above code is giving an error, as we are using a double quote in a string,which is enclosed with double quotes.So here we can use the escape character to fix this problem.

In [2]:
s="His name is raju.raju\"s father is a teacher."

In [3]:
s

'His name is raju.raju"s father is a teacher.'

# Q2

2. What do the escape characters n and t stand for?

ANSWER-- The escape characters n and t stand for a new line and a tab respectively.

In [7]:
s1="His name is raju.\n raju's father is a teacher."

In [9]:
print(s1)

His name is raju.
 raju's father is a teacher.

In [10]:
s2="His name is raju.\traju's father is a teacher."

In [11]:
print(s2)

His name is raju.	raju's father is a teacher.

# Q3

3. What is the way to include backslash characters in a string?

ANSWER-- Using a double backslash (\\) escape character , we can include a backslash character in a string.

In [13]:
s3="His name is raju \\ raju's father is a teacher."

In [14]:
print(s3)

His name is raju \ raju's father is a teacher.

# Q4

4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?

ANSWER-- The whole sentence is enclosed in double quotes but the word Howl's have a single quote in it, that's why it is not creating any problem as the quote used to enclose the string and the quote used in between it is different.

In [15]:
str4="Howl's Moving Castle"

In [16]:
print(str4)

Howl's Moving Castle

# Q5

5. How do you write a string of newlines if you don't want to use the n character?

ANSWER-- Without using the n character, we can split a  long string into different lines with the help of a pair of triple quotes to create a multiline string .An example is shown below:

In [17]:
x=""" I have a nice car.
My car is of red colour.
I use it every day."""

In [18]:
print(x)

 I have a nice car.
My car is of red colour.
I use it every day.

# Q6

6. What are the values of the given expressions?
'Hello, world!'[1]
'Hello, world!'[0:5]
'Hello, world!'[:5]
'Hello, world!'[3:]

ANSWER-- The values of the given expressions are--
e,Hello,Hello,lo, world! 

They are also shown in codes below:

In [19]:
print('Hello, world!'[1])
print('Hello, world!'[0:5])
print('Hello, world!'[:5])
print('Hello, world!'[3:])

e
Hello
Hello
lo, world!

# Q7

7. What are the values of the following expressions?
'Hello'.upper()
'Hello'.upper().isupper()
'Hello'.upper().lower()

In [ ]:
ANSWER-- The values of the given expressions are--
HELLO,True,hello
They are also shown in codes below:

In [20]:
print('Hello'.upper())
print('Hello'.upper().isupper())
print('Hello'.upper().lower())

HELLO
True
hello

# Q8

8. What are the values of the following expressions?
'Remember, remember, the fifth of July.'.split()
'-'.join('There can only one.'.split())

ANSWER-- In the first code, .split() function will split the line where ever there is a space.Thus the answer will be--
['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In the second code, at first inside the bracket, the split function will split the line and form a list of 4 items and then join function will act on this list and will join the 4 items with a "-".So the output will be --
'There-can-only-one.'
This is shown in below codes:

In [21]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [22]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

# Q9

9. What are the methods for right-justifying, left-justifying, and centering a string?

ANSWER-- rjust(), ljust(), center() are the methods for right-justifying, left-justifying, and centering a string respectively.
examples are shown below:

In [1]:
str1="My car is of red colour."

In [8]:
print (str1.ljust(30,'$'))

My car is of red colour.$$$$$$

In [10]:
print (str1.rjust(40,'$'))

$$$$$$$$$$$$$$$$My car is of red colour.

In [13]:
print (str1.center(30, '@'))

@@@My car is of red colour.@@@

# Q10

10. What is the best way to remove whitespace characters from the start or end?

In [ ]:
ANSWER-- strip() method can be used to remove whitespace from both the start and end of a string.
we can also use lstrip() and rstrip() method to remove whitespace from left side and right side of the string respetively.
examples are shown below.

In [14]:
str2="   I have a pet dog  "

In [16]:
str2.strip()

'I have a pet dog'

In [17]:
str2.lstrip()

'I have a pet dog  '

In [18]:
str2.rstrip()

'   I have a pet dog'