# Q1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

ANS--In the above question, 'hello',-87.8 and 6 are the values , where 'hello' is a string, -87.8 is a float and 6 is an integer.
And * , -, / ,+ are the expressions or mathematical operators, where * is used for multiplication, - for substraction , / for division and + for addition.
some examples are given below----

In [1]:
type('hello')

str

In [2]:
5*3

15

In [3]:
10/2

5.0

# Q2

 2. What is the difference between string and variable?

In [ ]:
Ans-- string is a data type which is basically  a sequence of characters enclosed with quotes('' or " ").
strings can be stored in variables and strings are immutable.
Where as variables are used to store values, they act as a reserved memory location for storing 
different values like list , tuples, dictionary , string , float, integer etc.

some examples are given below--

In [4]:
s='hello' # here s is a variable which is storing the string 'hello'.

In [7]:
type(s)

str

In [5]:
s[0]

'h'

In [6]:
s[0]='k' # as strings are immutable.

TypeError: 'str' object does not support item assignment

# Q3

3. Describe three different data types.

Ans ---three different data types are--- string , integer , float 

String--string is a data type which is basically  a sequence of characters enclosed with quotes('' or " ").
strings are immutable.
Integer--- Integers are whole number (negative or positive) and  in python there is no limit ,that how long an integer can be.
float---It is a real number with floating point representation . They are actually written as deimal points.
All of the above data types can be stored in variables.

In [8]:
s='i am sandipa'

In [9]:
i=6

In [10]:
f=67.098

In [12]:
type(s)

str

In [13]:
type(i)

int

In [14]:
type(f)

float

# Q4

4. What is an expression made up of? What do all expressions do?

ans--expression is made up of values , variables, operators in python.
expression evaluates and provides a single result as out put.

In [17]:
w=6
r=3

In [18]:
w+r+5  # It is an expression, which gives an output 14

14

# Q5

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans---expression is made up of values , variables, operators in python.
expression evaluates and provides a single result as out put.

where as Statement represents some kind of  action or command e.g print statements, assignment statements.A statement never returns a value.

Example is given below:

In [19]:
print('my name is sandipa.')  # this is a statement.

my name is sandipa.

In [20]:
a=56
c=78
a+c+5 # this is an expression.

139

# Q6

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [22]:
bacon = 22

In [23]:
bacon+1

23

In [24]:
 bacon

22

here we need an assignment statement to update the original value of bacon to bacon +1 i.e 23 , as shown below

In [25]:
bacon=bacon+1

In [26]:
bacon

23

# Q7

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [27]:
'spam' + 'spamspam'

'spamspamspam'

In [28]:
'spam' * 3

'spamspamspam'

In [29]:
# both of this above expression is giving the same result or output.

# Q8

8. Why is eggs a valid variable name while 100 is invalid?

ans-- Here 'eggs', starts with an alphabet but 100 starts with an integer and  in python a variable name starting with an alphabet is allowed,whare as starting with an integer is not allowed. That's why eggs is a valid variable name while 100 is invalid.

# Q9

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans--- int(), float() and str() are the three functions which can be used to get the integer, floating-point number, or string version of a value,respectively.
Examples are given below:

In [34]:
#Integers:

x = int(67)   # x will be 67
y = int(45.978) # y will be 45
z = int("54") # z will be 54

#Floats:

x = float(7)     # x will be 7.0
w = float("453.2") # w will be 453.2

#Strings:

x = str("my name") # x will be 'my name'
y = str(56)    # y will be '56'

# Q10

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

ans--This expression mentioned in the question, will throw an error because the first part and the last part of the expression are of string data type but 99 is an integet,
but we can not concatenate string and integer in a same expression.

To fix this error, we have to use type casting to convert integer 99 to a string 99.
This is shown in the below example.

In [35]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [36]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'